@using HotelProject.WebUI.Areas.Admin.Models.Staff
@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<row>
    <div class="col-12">
        <h1>Çalışan Tablosu</h1>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Başlık</th>
                    <th>Görsel Yolu</th>
                    <th>Linkedin Adresi</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.surname</td>
                        <td>@item.title</td>
                        <td>@item.imageUrl</td>
                        <td>@item.linkedinUrl</td>
                        <td>@Html.ActionLink("Sil", "DeleteStaff", "Staff", new { area = "Admin", id = item.id }, new { @class = "btn mb-1 btn-rounded btn btn-outline-danger", onclick = "return confirm('Silme işlemini onaylıyor musunuz?')" })</td>


                        <td><a class="btn mb-1 btn-rounded btn btn-outline-primary" href="/Admin/Staff/UpdateStaff/@item.id">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Admin/Staff/AddStaff" class="btn mb-1 btn-rounded btn-outline-success">Yeni Personel Girişi</a>
    </div>
  
</row>



